
<link rel="stylesheet" href="/stylesheets/auth-style.css">

<main role="main">
  
  <div id="logreg-forms">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="social-login">
        <button class="btn facebook-btn social-btn" onclick="window.location.href='/auth/facebook'" type="button"><span><i class="fab fa-facebook"></i> Sign in with Facebook</span> </button>
      </div>
      <div class="social-login">
        <button class="btn twitter-btn social-btn" onclick="window.location.href='/auth/twitter'" type="button"><span><i class="fab fa-twitter"></i> Sign in with Twitter</span> </button>
      </div>
      <!-- <div class="social-login">
        <button class="btn google-btn social-btn" onclick="window.location.href='/auth/google'" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google</span> </button>
      </div> -->
      
      <br>
      
    </div>
    
  </main>
  
  