<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">tCopy</h1>
      <p class="lead text-muted">
        tCopy is a smart clipboard that allows you to copy and paste your texts
        across devices. e.g. Web, mobile devices and etc. You don't need to
        create account using your email and password.
      </p>
      <p>
        <a href="/auth" class="btn btn-primary my-2">
          Get Started <i class="far fa-play-circle"></i
        ></a>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              style="height: 225px; width: 100%; display: block"
              src="/images/easy-to-use.jpg"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text">
                Easy to use tool to copy and paste your contents across multi
                device.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              style="height: 225px; width: 100%; display: block"
              src="/images/multi-device.png"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text">
                An application available on multiple devices to keep your
                contents.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img
              class="card-img-top"
              style="height: 225px; width: 100%; display: block"
              src="/images/secure.jpg"
              data-holder-rendered="true"
            />
            <div class="card-body">
              <p class="card-text">You can encrypt your secure contents.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
